# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Environments
.env
.venv
env/
venv/
.conda/

# IDE
.vscode/
.idea/
*.swp
*.swo
